alembic
aniso8601
bcrypt
certifi
charset-normalizer
click
cryptocode
cryptography
cx_Oracle
fernet
Flask
Flask-Cors
flask-marshmallow
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
greenlet
idna
importlib-metadata
itsdangerous
Jinja2
json5
Mako
MarkupSafe
marshmallow
marshmallow-sqlalchemy
mysql-connector-python
numexpr
numpy
packaging
pandas
pbkdf2
psycopg2-binary
pycrypto
pycryptodomex
PyJWT
pyodbc
pyparsing
python-dateutil
python-dotenv
pytz
requests
six
SQLAlchemy
sqlparse
urllib3
uuid
waitress
Werkzeug
zipp
